body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #121212;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.charts-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-end; /* Alinhando os elementos à direita */
  margin-right: 20px;
}

.mini-chart {
  margin: 10px 0;
  opacity: 0.5;
  transition: opacity 0.5s ease-in-out;
  text-align: right; /* Garantindo alinhamento do conteúdo interno */
}

.mini-chart.dimmed {
  opacity: 1;
}

.main-chart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-chart-text-p{
  text-align: left;
}

.legend-qtd{
  color: #DAA520;
  margin-bottom: -20px; /* Reduzindo o espaçamento entre os elementos da legend */
}

.legend-value{
  justify-content: center;
  margin-left: 10px; /* Reduzindo ainda mais o espaçamento */
}

.main-title{
  color: #DAA520;
  text-shadow: #fff;
}

/* Estilizando as colunas dos gráficos */
.google-visualization-bar-chart text {
  fill: #FFD700 !important;
}

.google-visualization-bar-chart rect:nth-child(odd) {
  fill: #FFF !important; /* Vermelho para colunas ímpares */
}

.google-visualization-bar-chart rect:nth-child(even) {
  fill: #33FF57 !important; /* Verde para colunas pares */
}
